* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root > body {
  background-color: #000;
  scroll-behavior: smooth;
}

a:any-link {
  color: var(--color-primary-500);
  text-decoration: none;
  transition: color 0.1s ease-out;

  &:hover {
    color: var(--color-primary-400);
    text-decoration: underline;
  }
}
