.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(0deg, #1f2c3f, #1e242c);
  pointer-events: none;
  z-index: -1;

  transition: opacity 0.1s;

  & * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
  }

  .star1 {
    background: url('@/assets/star1.webp');
    opacity: 0.7;
    animation: star-move 400s linear infinite;
  }

  .star2 {
    background: url('@/assets/star2.webp');
    opacity: 0.4;
    animation: star-move 1000s linear infinite;
  }

  .star3 {
    background: url('@/assets/star1.webp');
    transform: scaleX(-1);
    opacity: 0.1;
    animation: star-move 1300s linear infinite;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: $neutral-50;

  .intro {
    width: 100%;
    height: 100vh;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

    .description {
      @include label1;
      font-family: $font-mono;
      opacity: 0.8;

      .welcome {
        opacity: 0.5;
      }
    }

    .hr-wrapper {
      display: flex;
      align-items: center;
      flex-direction: row;
      max-width: 26em;
      width: 50%;
      gap: 4px;

      opacity: 70%;
      &::before,
      &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpolygon points='6,0 12,6 6,12 0,6' style='stroke:white;fill:none;width:1px;'%3E%3C/polygon%3E%3C/svg%3E");
        min-width: 12px;
        min-height: 12px;
        display: inline-block;
      }

      hr {
        width: 100%;
        border: none;
        border-top: 1px solid $neutral-100;
      }
    }
  }

  .footer {
    width: 100%;
    background-color: rgba(from $neutral-950 r g b / 0.8);

    padding-inline: 1.5em;
    padding-block: 1em;
    opacity: 50%;
    text-align: right;
  }
}

@keyframes star-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% -1000%;
  }
}
